*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

/************************************** page d'accueil *************************/
.home {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url("img/illustration.jpg");
    background-size: cover;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.profile img {
    margin-left: 50px;
    width: 200px;
    height: 250px;
    border: 5px solid #bbb;
    outline: 5px solid #333;
    outline-offset: -10px;
}

.profile-text {
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
}

.profile-text span {
    font-size: 2.5rem;
    font-weight: 400;
}

.profile-text p,
.profile-text h1 {
    font-size: 3.8rem;
    font-weight: 400;
}

/***************************************** présentation et projet ***********************/

.about,
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #eee;
    color: #333;
}

.about h2,
.projects h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 50px auto;
}

.about hr,
.projects hr {
    background-color: #333;
    color: #333;
    border: 1px;
    width: 200px;
    height: 3px;
    margin-bottom: 50px;
}

.projects hr {
    margin-bottom: 150px;
}

.about-text {
    width: 50%;
    text-align: justify;
}

.about-text span {
    font-weight: 900;
}


.about p {
    margin: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.cv span {
    font-weight: 900;
}

.icons {
    display: flex;
    justify-content: center;
    width: 300px;
}

.icons a {
    margin: 30px;
}

.icons i {
    font-size: 50px;
}

.icons .fa-linkedin {
    color: #0e76a8;
}

.icons .fa-github {
    color: #171515;
}

.icons .fa-envelope {
    color: #720e9e;
}

.projects {
    background-color: #ddd;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 500px;
    height: 250px;
    cursor: pointer;
}

.project h3 {
    margin: 15px 0 5px;
}

/************************** overlay image projet **********************/

.overlay-image {
    position: relative;
    display: inline-block;
}

.overlay-image img {
    display: block;
}

.overlay-image .hover-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    background-color: #333333d3;
    color: #ddd;
    font-weight: 900;
    outline: 3px solid #ddd;
    outline-offset: -20px;
    padding: 30px;
    cursor: pointer;
}

.overlay-image:hover .hover-image {
    opacity: 1;
}

/********************************** footer **********************************/

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #ddd;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
}

/*************************** boutons *********************************/

.scroll-btn {
    width: 50px;
    height: 75px;
    opacity: .4;
    cursor: pointer;
}

.scroll-down-btn {
    border-radius: 0 50% 0 50%;
}

.scroll-up-btn {
    border-radius: 50% 0 50% 0;
}

.scroll-btn:hover {
    opacity: .8;
}

.home-scroll-down-btn {
    display: block;
    position: absolute;
    left: 20%;
    bottom: 50px;
}

.about-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.projects-scroll-up-btn {
    display: block;
    position: absolute;
    right: 10%;
    bottom: 100px;
}

.projects-scroll-up-btn-half {
    display: block;
    position: absolute;
    right: 15%;
    bottom: 100px;
}

.fa-arrow-down-long,
.fa-arrow-turn-up,
.fa-arrow-up {
    font-size: 30px;
}

/************************** modale **************************/

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container.active {
    display: block;
    z-index: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
}

.modal {
    width: 70%;
    height: fit-content;
    background-color: #ddd;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
}

.modal hr {
    background-color: #333333d3;
    color: #333333d3;
    border: 1px;
    width: 300px;
    height: 1px;
    margin: 20px auto;
}

.modal-imgs {
    display: flex;
    margin: 3%;
}

.modal-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    padding: 30px;
}

.modal-img h4 {
    font-size: 1.6rem;
    margin: 20px;
}

.modal-img ul {
    margin: 0;
    padding: 0;
}

.modal img {
    width: 100%;
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
}

/*********************************************************************************/
/************************* media queries *****************************************/
/*********************************************************************************/

@media screen and (min-width: 1200px) and (max-width: 1500px) {

    .home {
        background-position: -100px 100px;
    }

    .about p {
        margin: 20px;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 1199px) {

    .profile {
        height: 80vh;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .profile img {
        width: 150px;
        height: 200px;
        align-self: start;
        margin-top: 30px;
    }

    .profile-text {
        align-self: start;
        margin-left: 30px;
        margin-top: 270px;
    }

    .profile-text span {
        font-size: 2rem;
    }

    .profile-text p,
    .profile-text h1 {
        font-size: 3.3rem;
    }

    .home-scroll-down-btn {
        right: 10%;
        left: unset;
    }

    .about-text {
        width: 80%;
    }

    .about h2,
    .projects h2 {
        font-size: 2.5rem;
    }

    .about p {
        margin: 15px;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width: 780px) {

    .about {
        height: fit-content;
        padding-bottom: 20px;
    }

    .about h2,
    .projects h2 {
        font-size: 2rem;
    }

    /*.about p {
        margin: 10px;
    }*/

    .about p {
        margin: 20px;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: start;
    }

    .scroll-btn {
        display: none;
    }
}